body {
    font-family: 'Open Sans';
}
.custom-navbar a {
    color: #ffffff; 
  }
.custom-navbar {
    background-color: #202A62;
}

.card-body{
    background-color: #e0dcdc;
}

.card-header{
    background-color: #202A62;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.btn {
    float: right;
}

.item-wr {
    margin: 7px; 
}

.card-text{
    text-align: justify;
}